{% include header.html %}
<section class="mainSection">
    <div class="wrap">
        <div class="container container-left">
            <div class="row">
                <section class="flexsection">
                    <flexbox>
                        {% include sidebar.html %}
                    </flexbox>
                    <flexbox class="wide">
                        {{ content }}
                    </flexbox>
                </section>
            </div>
        </div>

    </div>
</section>
{% include footer.html %}
